* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: red;
}
h2 {
    color:green;
}
p {
    color: blue;
}
div {
    padding: 40px;
    border: 4px solid brown;
    background-color: yellow;
    margin: 20px;
    width: 200px;
}
.bg-black{
    background-color: black;
}
#title {
    color:gold;
}